<div class="parent">
    <div class="child-left">
      <h2>Branch Tree</h2>
      <div class="branchtree" ng-init="makeTree()"></div>
    </div>

    <div class="child-right">
      <h2>Timeline</h2>
      <h4>Branch - {{branchName}}</h4>
      <div id="timeline" ng-init="ShowTimeLine(0)">
      </div>
    </div>
</div> 
<div>
    <table style="width: 100%; height:">
        <tr ng-init = "showGraph(1)">
            <td>
                <div id ="chart"></div>
            </td>
        </tr>
    </table>
    <table style="width: 100%; height:">
        <tr>
            <td class="col-sm-4">
                <div id = "assigned"></div>
            </td>
            <td class = "col-sm-4"> 
                <div id ="customer"></div>
            </td>
            <td class = "col-sm-4"> 
                <div id ="components"></div>
            </td>
        </tr>
        <tr>
            <td class ="col-sm-4">
                <div id = "assignedcloned"></div>
            </td>
            <td class ="col-sm-4">
                <div id = "customercloned"></div>
            </td>
            <td class = "col-sm-4">
                <div id ="componentscloned"></div>
            </td>        
        </tr>
    </table> 
</div>