<body>
    <div>
        <a ng-click="saveMilestonesChanges();"><img src="assets/img/savechanges.png" style="cursor: pointer; width: 4%; height: 4%;float: right;"></a>
        <a id="cancelimg" href="#/business" style=""><img src="assets/img/cancel.png" style="width: 4%; height: 4%;float: right;"></a>
    </div>
    <h1>List of all the Milestones</h1>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Branch</th>
                    <th>Features</th>
                    <th>Defects</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-bordered" id="milestonerow{{milestonesdata.milestoneId[$index]}}" ng-repeat="date in milestonesdata.dates" style="cursor: text;">
                    <td class="col-xs-3">{{date}}</td>
                    <td class="col-xs-3">{{milestonesdata.branch[$index]}}</td>
                    <td class="col-xs-3">{{milestonesdata.features[$index]}}</td>
                    <td class="col-xs-3">{{milestonesdata.defects[$index]}}</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top: 35px;">
            <a href="" ng-click="AddMilestone()"><img src="assets/img/add.png" alt="addmission" style="width: 5%;height: 5%;float: right; bottom: 0;"></a>
        </div>
    </div>
</body>